/*QUY ĐỊNH BODY*/
body{margin: 0px; text-align: center; padding: 0px; }
a { text-decoration: none}
ul {list-style: none}
/*div lớn*/
#wrapper {width: 100%;; height:1500px; background:#FFFB9E; }
/*TOP*/
#top{
	width: 70%; height: 75px; border: #000000 1px solid; border-radius: 15px; background:#6EF326; margin: 0px auto;
}
#logo {
	width: 12%; height: 75px; border: 1px #F90000 solid; line-height: 55px; font-size: 30px; color: #00F91C; border-radius: 15px; background:#36FFC3; float: left; position: relative;
}
#menu{
	width: 67%;  float: left;
}
#menu ul { padding: 0px;   margin-top:0px; 
}
#menu ul li {width: 100px; position: relative; display: inline-table; position: relative; background:#6EF326;}
#menu ul li:hover {background: #EBEFD7; display: inline-block; }
#menu ul li a{ color:#000000; line-height: 75px; transition: 1s; font-size: 13px;}
.submenu { display: none; position: absolute;}
#menu ul li:hover .submenu { display: block;
	
}
#menu ul li .submenu li a:hover {
	color: #FC0000; font-size:18px; 
}

#search{
	width: 20%; height: 75px;  float: left; border-radius: 10px;
}
.timkiem {
	font-family: "Times New Roman", Times, serif; border-radius: 8px; margin-top: 25px; transition: 10s;
}
.timkiem:hover {
	width: 150px; height:20px; background: #000000; color: aliceblue;}
.sub{ border:1px #1EEB07 solid; transition: 3s;}
.sub:hover {border-radius: 8px; border: 1px solid #000000; background: #1EEB07; color: aliceblue; }

/*BODY*/

#A { width:70%; height: 200px; margin: 10px auto; }
#A1 { width: 60%; height: 200px; border: 1px solid #e1e1e1; float: left; }
#A1 img {
	margin:  5px 10px; float: left;  
    box-shadow: 5px 10px #888888;
}
#A1 a {
	color: #FF0004;
}
#A1 a:hover {
	color: #FFCE00;
}
#A2 { width: 39%; height: 200px; border: 1px solid #e1e1e1;float: left; margin-left: 3px; }



.neo {
	width: 160px; height: 25px; margin: 0px 5px; border: 1px solid #898989; border-top-right-radius: 20px; background:#00FF15; border-bottom: 3px solid #0022ED;
}
.neo:hover { background: #000000}
.A2right {
	width: 360px; height: 78px; margin: 5px;
	
}
.anh{
	width: 150px; height: 78px; border: 1px solid #e1e1e1; float: left;
}
.anh img {
	padding-top: 5px;
}
.baiviet {
	width: 200px; height: 78px;  float: left; margin-left: 5px; border: 1px solid #e1e1e1;
}
.baiviet1 {
	width: 200px; height: 78px;  float: left; margin-left: 5px; border: 1px solid #e1e1e1;
}

.baiviet a {color:#00F95A}
.baiviet a:hover{color:#0A01EB}
.baiviet1 a {color:#EF8500;}
.baiviet1 a:hover {color:#F40303}
#qc {
	width:80%; height: 110px; clear: both; margin: 10px auto; }
#B {
	width: auto; height: 510px; margin: 10px 0px; border: 1px solid #e1e1e1;
}
.B1 {
	width:75%; height: 490px; border: 1px solid #e1e1e1; margin: 10px 0px;float: left; 
}
.B1a {
	width:35%; height: 150px; margin:  5px; float: left;
}
.B1a img{box-shadow: 3px 5px #888888;
	
}

.B1b {
	width:62%; height: 150px; border: 1px solid #e1e1e1; margin:  5px 0px; float: left;
}
.B1b a {color: #000000;} .B1 a:hover {color: #FF0004 }
h2 {
	padding-left: 8px; margin: 0px; text-align: left;
}
#b2qc {
	width: 22%; height: 490px; border: 1px solid #e1e1e1; margin: 10px 12px; float: left; 
}
#video {
	width: auto; height: 310px;  clear: both;
}
.video1 {
	width: 49%; height: 270px; border: 1px solid #e1e1e1; float: left; padding: 3px;
}

.video1a {
	width: 100%; height: 50%; border: 1px solid #e1e1e1;
}
.artice {
	width: 49%; height: 129px; float: left; padding: 2px;
}
#footer {
	width: 70%; height: 70px; background: #646464;clear: both; margin:auto; border: 1px solid #FFFFFF; border-top-left-radius: 15px; border-top-right-radius: 15px; color: #EB5000;
}
