/* CSS Document */
html, body {
	height: 100%; padding: 0px; margin: 0px; min-width: 1042px !important;
}
#header {
	width: 1366px; height: 45px; background: #78b43d; line-height: 45px; margin: auto;
}
#logo {
	width: 163.92px; height: 100%; float: left; border-right: 1px solid #CCC;
}
#serch {
	width: 200px; height: 100%; float: left; border-left: 1px solid #CCC;
} 
#but {
	float: left; margin-top: 10px; margin-left: 2px; border: 1px solid #0AD6EF; border-radius: 8px;
}
#tex {
	 float: left; margin-top: 9px; display: none; box-shadow: 5px 15px 50px #000; border: 1px solid #D3FF10
}
#menu {
	width: 997.18px; height: 100%; float: left;
} 
#menu ul {
	padding: 0px; margin: 0px; text-align: center
}
#menu ul li {
	list-style: none; float: left; width: 14.1%; border-right: 1px solid #FFF; position: relative
}
#menu ul li a {
	color: #FFF; text-decoration: none
}
#menu ul li a:hover {
	text-decoration: underline;
}
.submenu { display: none }
.submenu li {border-right: none!important}

/*  hiện submenu*/
#menu ul li:hover >.submenu {
	display: block;
}
#menu ul li >.submenu li:hover a {
	color: aliceblue
}

/*chỉnh chiều cao submenu*/

#menu ul li >.submenu li {
	clear: both; background: #aad862; width: 250px; height: 26px; line-height: 25px; border-bottom: 1px solid #78b43d;
}
#menu ul li >.submenu li a {
	color: #000000; 
}
#menu ul li >.submenu li:hover {
	color: #FFFFFF; background: #78b43d;
}
#qc {
	width: 160px; height: 500px; background: #00EFF3; position: fixed; top: 45px; right: 0px;
}
#qc1 {
	width: 160px; height: 500px; background: #01D5D2; position: fixed; top: 45px; left: 0px;
}

#content {
	width: 1010px; margin: auto; border: 1px solid #000;
}

#left {
	width: 706px; height: 5300px; border: 1px solid #ccc; float: left
}
.left1 {
	width: 48.8%; height: 343px;  float: left;  margin: 5px 3px;
}
.left1a {
	width: 100%; height: 20px; 
}
.left1a ul {
	margin: 0px; padding: 0px; list-style: none;
}
.left1a ul li {
	float: left; margin: 2px; background: #ccc; font-size: 12px; border: 1px solid #ccc; border-radius: 4px; padding-left: 5px;
}
.left1a ul li a {
	text-decoration: none; color: #000000
}
.left1a ul li a:hover {
	color: #78b43d
}
.left1a > ul>.left1aa {
	background: #78b43d; font-size: 16px;
}
.left1a > ul>.left1aa a {
	color: aliceblue;
}
.left1a > ul>.left1aa a:hover {
	color: #000;
}
.left1b {
	width: 100%; height: 50px; margin: 10px 0px 4px 0px;
}
.left1b a {
	text-decoration: none; color: #000000
}
.left1b a:hover {
	color: #78b43d;
}
.left1c {
	width: 100%; height: 110px; margin-bottom: 5px;
}
.left1cimg {
	width: 40%; height: 100%;  float: left
}
.left1ctext {
	width: 58%; height: 100%; float: left; margin-left: 5px;
}
.left1d {
	width: 100%; height: 140px; background: #D9E187;
}
.left1d > ul {
	padding: 0px; margin: 0px 0px 0px 15px; list-style: square ; font-size: 14px; padding-top: 6px;
}
.left1d > ul li {
	margin: 5px; color: #78b43d
}
.left1d > ul li a {
	text-decoration: none; color: #000000
}
.left1d > ul li a:hover {
	color: #78b43d
}

#phanvideo {
	width: 100%; height: 33px; background: #78b43d; text-align: center; clear: both; border-radius: 8px; line-height: 33px;
}
#left2l {
	width: 426px; height: 470px; float: left;
}
#left2l a {
	color: #000000; text-decoration: none;
}
#left2r {
	width: 280px; height: 470px; float: left; 
}
#left2r a {
	color: #000000; text-decoration: none;
}
.baiviet {
	width: 156px; height:70px; float: right; padding-top: 5px; padding-right: 5px
}
.left3 {
	width: 100%; height: 235px; 
}
.left3img {
	width: 150px; height: 120px; margin: 5px; float: left
}
.left3text {
	width: 500px; float: left;  height: 200px
}
.ttdn {
	width: 200px; height: 15px; background: #78b43d; border-top-right-radius: 10px; padding-top: 5px; margin: 5px 10px; padding-bottom: 5px;
}
.vetrangchu {
	width: 160px; height: 40px; border: 1px solid #00FF1D; margin: 3px; float: right; box-shadow: 5px 15px 20px #000
}

#right {
	width: 300px; height: 5300px; border: 1px solid #000000; float: left
}
#footer {
	width: 100%; height: 80px; background: #ccc; margin-top: 60px;
}
#footer ul {
	padding: 0px; margin: 0px; list-style: none;
}
#footer ul li {
	float: left; width: 11%; font-weight: bold; margin-top: 7px; margin-left: 10px;
}
#footer ul li a {
	text-decoration: none; color: #000000
}
#footer ul li a:hover {
	text-decoration: underline
}
#footer ul li >.sub {
	margin: 0px; padding: 0px;
}
#footer ul li >.sub li {
	clear: both;  margin: 0px; padding: 0px; width: 100%; margin: 5px 0px; font-size: 13px;
}
#contac {
	background: #78b43d; width: 100%; height: 25px; border-radius: 5px;
}
#contac a {
	color: #000000; text-decoration: none
}
#contac a:hover {
text-decoration: underline
}
.di {
	position: fixed; top:0px;
}

/*end trang chính*/


/*css trang danh mục*/
a {
	text-decoration: none; color: #000000
}
a:hover {
	text-decoration: underline;
}
.tcc {
	margin-left: 20px; float: left
}
.dm {
	float: left; padding-left: 5px;
}
.tcc a {
	color: #78b43d
}
.dm a {
	color: #78b43d
}
#danhmuc ul {
	list-style: none; margin: 0px; padding: 0px; margin-left: 20px; margin-top: 8px;
}
#danhmuc ul li {
	float: left; background: #e1e1e1; margin: 3px; border-radius: 4px; text-align: center;
}
#danhmuc ul li:hover {
	background: #ccc;
}
#danhmuc ul li:hover > a {
	color: #000
}
#danhmuc ul li a {
	font-size: 12px; text-align: center;
}
#anhdm {
	width: 185px; height: 280px; margin-left: 10px; margin-top: 3px; float: left
}
#textdm {
	width: 505px; height: 280px; margin-left: 4px; margin-top: 3px; float: left;
}
.tittle {
	margin: 3px 0px; font-size: 12px;
}
.tittle a {
	color: #757575
}
.tittle a:hover {
	color: #78b43d; 
}
#contendm {
	width: 100%; height: 100%;
}
.contendma {
	width: 49%; height: 160px; border: 1px solid #e1e1e1; margin-left: 5px; float: left;
}
.imgdma {
	width: 130px; height: 90px; margin-top: 5px; float: left;
}
.teexdma {
	width: 215px; height: 98%; margin-top: 5px; float: left;
}
.thanhnext {
	width: auto; margin: 10px auto; width: 390px;
}
.thanhnext ul {
	margin: 0px; padding: 0px; list-style: none; margin: auto
}
.thanhnext ul li {
	border: 1px solid #000000; border-radius: 6px; float: left;	width: 40px; text-align: center; margin-left: 3px;
}


.sliderto {
		width: 100%; height: 260px; border: 1px solid #e1e1e1; margin-top: 4px;
	}
	.sliderbe {
		width: 100%; height: 240px; float: left; margin-left: 35px;
	}
	
	/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.2} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
